<div class="main">
  <h1 class="mainh1"> Oh Momma, I'm getting Married!!</h1>
  <h2 class="mainh2">Now You Can Get Organized</h2>
  <div>
    <p><%= link_to 'Find a Wedding Photographer', controller: 'photographers' %></p>

    <p><%= link_to 'Find a Venue for your Wedding', controller: 'venues' %></p>

    <p><%= link_to 'Wedding Photographer Reviews', controller: 'articles' %></p>
           
    <p><%= link_to 'Photographer Photo Upload', controller: 'photos' %></p>
  </div>
  <div class="photodiv">
    <img src="<%= asset_path 'LightedCenterPiece.jpg' %>" align="center" width="100%" >
  </div>
</div>

