<h1>Momma, I'm getting Married</h1>
<h2>What to do Now?</h2>
  <div>
    <p><%= link_to 'Find a Wedding Photographer', controller: 'photographers' %></p>
  </div>
  <div>
    <p><%= link_to 'Find a Venue for your Wedding', controller: 'venues' %></p>
  </div>
  <div>
    <p><%= link_to 'Wedding Photographer Reviews', controller: 'articles' %></p>
  </div>
<div>
  <p><%= link_to 'Photographer Photo Upload', controller: 'photos' %></p>
</div>

<!--  Consider potential beneficial ad connections to Pintrest in future
<div align='bottom'>
<footer>
  <%= link_to 'Pintrest', 'https://www.pinterest.com', target: :_blank %>
</footer>
</div>  -->
