<div class="view">
  <h1>Your Venues</h1>

  <div class="tablediv" >

    <p><%= link_to 'Add Venue', new_venue_path %><p/>

    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th></th>
      </tr>

      <% @venues.each do |venue| %>
        <tr>
          <td><%= venue.name %></td>
          <td><%= venue.address %></td>
          <td><%= venue.phone %></td>
          <td><%= link_to 'Show', venue_path(venue) %></td>
        </tr>
      <% end %>
    </table>

    <%= link_to 'Back', welcome_index_url %>
  </div>
</div>
