<h1>Wedding Photos</h1>
<div>
  <p><%= link_to 'Upload Photo', new_photo_path %><p/>
</div>

<table>
  <tr>
    <th>Wedding</th>
    <th>Photographer</th>
    <th>Image</th>
    <th></th>
  </tr>

  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.wedding %></td>
      <td><%= photo.photographer %></td>
      <td><%= photo.image %></td>
      <td><%= link_to ' Show', photo_path(photo) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', welcome_index_url %>
