<div class="view">
  <h1>Add Photo</h1>

    <div class="formdiv">
    <%= form_with scope: :photo, url: photos_path, local: true do |form| %>

      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@photo.errors.count, "error") %> prohibited
            this photo from being saved:
          </h2>
          <ul>
            <% @photo.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="entrydiv" >
        <p>
          <%= form.label :wedding %><br>
          <%= form.text_field :wedding %>
        </p>

        <p>
          <%= form.label :photographer %><br>
          <%= form.text_field :photographer %>
        </p>

        <p>
          <%= form.label :image %><br>
          <%= form.text_field :image %>
        </p>

        <p>
          <%= form.submit %>
        </p>
      </div>

    <% end %>
  </div>

  <%= link_to 'Back', photos_path %>

  <div class="photodiv">
    <img src="<%= asset_path 'LightedCenterPiece.jpg' %>" align="center" width="100%" >
  </div>
</div>

